<!DOCTYPE html>
<html lang="es">
   <%- include('./partials/head') %>
   <body class="vproduct">
      <%- include('partials/carrito.ejs') %>
      <%- include('partials/navbar-top') %>
      <!-- Barra de navegación inferior -->
      <%- include('partials/navbar-bottom.ejs') %>
      <main>
         <div class="f-display f-main-between f-cross-center w-100 px-4">
            <h3>BEBIDAS</h3>
            <span class="ventas--numero only-mb">357 ventas</span>
         </div>

         <div class="container">
            <!-- imagen carrousel (1) -->
            <div class="mb-12 tb-7 lp-6 dk-5 f-main-y mbt-4 vproduct__carrousel">
               <div class="ctrl__carrousel">
                  <img src="/images/products/Bebidas/Cervezas/<%= producto.image[0].name %>" class="main-product__carrousel"/>
               </div>

               <!-- vistas previas -->
               <div class="f-display f-main-between mtp-4 image-preview">
                  <!-- Las imágenes previas se insertan aquí --> 
                          
               </div>

               
            </div>

            <!-- columna detalle (2) -->
            <div class="mb-12 tb-5 lp-6 dk-7 f-main-y">
               <div class="f-display f-main-between">
                  <h3 class="mtp-0 mbt-1"><%= producto.name %></h3>
                  <div class="text-right only-mb">
                     <span class="vproduct__val">4.8</span>
                     <span class="vproduct__val--iconStar">
                        <i class="fas fa-star"></i>
                     </span>
                  </div>
               </div>

               <!-- Info producto -->
               <div class="no-mb f-display f-main-between mbt-4">
                  <div class="text-right">
                     <span class="vproduct__val">4.8</span>
                     <span class="vproduct__val--iconStar">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                     </span>
                  </div>
                  <span class="ventas--numero">357 ventas</span>
               </div>
               <div class="separador my-2"></div>
               <!-- Volumen y precio -->
               <div class="f-display f-main-between f-cross-center mbt-4">
                  <div class="info__titulo">Volumen: <span class="info__valor-titulo"><%= producto.size %></span></div>

                  <div class="info__precio-titulo">
                     <span>$ <%= producto.price %></span>
                  </div>
               </div>

               <!-- Stock disponible -->
               <div class="f-display f-main-between f-cross-center mbt-4">
                  <div class="info__titulo">Stock disponible: <span class="info__valor-titulo stock-producto"><%= producto.stock %></span></div>
               </div>

               <!-- Cantidades adquiridas -->
               <div class="f-display f-main-between f-cross-center mbt-4">
                  <!-- Data-id obtiene el id del producto al cual se le hace referencia -->
                  <div class="info__titulo">Cantidad: <span class="info__valor-titulo unidad-producto" data-id=<%= producto.id%>>2u</span></div>

                  <div class="f-display">
                     <div class="button button-rojo info__button mr-2 btnRestarCantidad">
                        <i class="fas fa-minus"></i>
                     </div>
                     <div class="button button-verde info__button btnSumarCantidad">
                        <i class="fas fa-plus"></i>
                     </div>
                  </div>
               </div>

               <!-- Ctrl ver medios de pago-->
               <div class="f-display f-main-between f-cross-center mbt-4">
                  <div class="info__titulo">Medios de pago</div>

                  <div class="media_flecha_abajo">
                     <i class="fas fa-chevron-down"></i>
                  </div>
               </div>

               <div class="mb-12 f-main-center f-cross-center mbt-4" id="mediosPagos">
                  <div class="info__item-medio mx-4">
                     <img src="/images/medio-1.jpg" alt="Rapipago" />
                  </div>
                  <div class="info__item-medio mx-4">
                     <img src="/images/medio-2.jpg" alt="Pago Facil" />
                  </div>
                  <div class="info__item-medio mx-4">
                     <img src="/images/medio-3.jpg" alt="Masterd Card" />
                  </div>
                  <div class="info__item-medio mx-4">
                     <img src="/images/medio-4.jpg" alt="Visa dto" />
                  </div>
               </div>

               <!-- Info Envio-->

               <div class="f-display f-main-y mbt-2">
                  <div class="info__titulo">Envío a domicilio:</div>
                  <p class="detalle_envio mtp-1">Llega a tu casa entre los próximos 2 días hábiles por correo Argentino</p>

                  <a href="#" class="info__change-dom f-self-end">Elegir un nuevo domicilio</a>
               </div>
               <div class="separador my-2"></div>
               <div class="mbt-4">
                  <p class="vproduct__descripcion m-0"><%= producto.description %></p>
               </div>

               <!-- Editar / Eliminar -->

               <% if (locals.userLogged && locals.userLogged.rol === "admin") { %>
                  <div class="ctrl-product-admin">
                     <form action="/store/products/edit/<%= producto.id %>">
                        <button type="submit" class="button button-verde btn-edit mr-4">EDITAR</button>
                     </form>
   
                     <form class="formDelete" action="/store/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="button button-rojo btn-edit btnDelete">ELIMINAR</button>
                     </form>
                  </div>
               <% } %>

               <!-- Comprar / Agregar carrito -->

               <% if (!locals.userLogged || locals.userLogged.rol !== "admin") { %>
                  <div class="ctrl-product-admin">
                     <!-- El data id debe contener el id del producto que se desea agregar al carrito -->
                     <button class="button button-rojo btn-edit btn-remove-carrito mr-4 d-none" data-id=<%= producto.id%>>ELIMINAR DEL CARRITO</button>
                     <button class="button button-verde btn-edit btn-add-carrito" data-id=<%= producto.id%>>AGREGAR A CARRITO</button>
                  </div>
               <% } %>
            </div>
         </div>

         <!-- PRODUCTOS RELACIONADOS -->
         <div class="container vproduct__relacionados">
            <h3 class="mb-12">PRODUCTOS RELACIONADOS</h3>

            <!-- Caja -->
            
            <% for( let i = 0; i < prRelations.length && i < 3; i++ ) { %>
            <article class="mb-12 tb-6 lp-4 container producto shadow-drop-2-center">
               <div class="button--stock">
                  <i class="fas fa-check boton_check"></i>
               </div>
               <!-- Boton verde de stock -->
               <div class="concon">
                  <div class="mb-5 imagen-producto__store">
                     <img src="/images/products/Bebidas/Cervezas/<%= prRelations[i].image[0].name %> " alt="ipa brown" />
                  </div>

                  <div class="mb-7 f-main-y">
                     <div>
                        <h4 class="producto__title"><%= prRelations[i].name %></h4>
                        <p class="producto__description"><%= prRelations[i].description %></p>
                     </div>

                     <div class="producto__buttons">
                        <div class="f-display">
                           <a href="/store/products/<%= prRelations[i].id %> ">
                              <div class="button producto__vermas mr-1">
                                 <i class="fas fa-external-link-alt"></i>
                              </div>
                           </a>
                        </div>

                        <div class="controlador-buton-precio">
                           <div class="precio_store">$ <%= prRelations[i].price %></div>

                           <button class="button buton_redondo_suma fas fa-plus btnRel-add-carrito" 
                           data-stock=<%= prRelations[i].stock%>
                           data-id=<%= prRelations[i].id%>>
                           </button>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </article>
            <% } %>
         </div>
      </main>

      


      <!-- Template vista previa -->
      <!-- Nota: El ultimo .item__preview-img  recibe  mr-0 -->
      <template id="prev-product">
         <div class="item__preview-img">
            <img src="" alt="">
         </div>
      </template>
      
      <script src="/js/generals.js" type="module"></script>
      <script src="/js/products.js" type="module"></script>
      <script src="/js/search.js"></script>
   </body>
</html>
