<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body class="about">
    <header class="header">
      <%- include('partials/navbar-top.ejs') %>
    </header>
    <!-- Barra de navegación inferior -->
    <%- include('partials/navbar-bottom.ejs') %>
    
    <main class="f-display f-main-y f-main-center sep-inf my-5 max-1440">
        <section class="container f-main-center mbt-4">
            <div class="mb-8 tb-6 lp-3 f-cross-end">
                <img src="/images/logo/logo.svg" alt="logo Ukunta">
            </div>
            <div class="mb-12 lp-9 f-main-y">
                <article>
                    <h3>BREVE HISTORIA</h3>
                    <p>Somos una familia de malteros de origen Escandinavo, que aun conserva las costumbres de nuestros
                        ancestros, y nos dedicamos especialmente a lo que mejor sabemos hacer, destilar cerveza. Fundada
                        por nuestros abuelos, alla por 1950, Ukunta conserva su toque tradicional que hacen de nuestras
                        cervezas su especialidad y de nuestra hidromiel un viaje sin escala al medio Evo.</p>
                </article>
                <article>
                    <h3>NUESTRA MISIÓN</h3>
                    <p>Aspiramos a convertirnos en un fuerte referente a la hora de elegir entre las posibilidades del
                        mercado, para lograrlo hemos diseñado una serie de compromisos que forman parte de nuestra
                        identidad. Ellos son la Calidad, que se evidencia de inicio a fin en todos los procesos de
                        elaboracion, la Confianza, nuestros clientes nos pueden elegir tranquilos porque siempre
                        obtienen lo mejor, y el Compromiso, todo el equipo de Ukunta trabaja unido para crear las
                        mejores variedades.</p>
                </article>

            </div>
        </section>
    </main>


    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>

</body>

</html>