<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <header class="header">
            <%- include('./partials/navbar-top') %>
            <section class="combos sep-inf">
               <article>
                  <div class="combos__carrousel">
                     <img src="/images/carrouselCombo-1.png" alt="black-off" />
                  </div>
               </article>
            </section>
         </header>
        <%- include('./partials/navbar-bottom') %>
            <!-- Botones de categorias -->
            <%- include('partials/categories.ejs') %>
            <!-- Filtro y Busqueda de Productos -->
            <div class="container filtro_busqueda ptp-5 f-main-end" id="store">
                <div class="lp-6 filter__orden">
                    <form action="">
                        <label for=""><strong>Ordenar por:</strong></label>
                        <select name="filtro" id="">
                            <option value="" selected>Más relevante</option>
                            <option value="">Menos precio</option>
                            <option value="">Mayor precio</option>
                        </select>
                    </form>
                </div>
            </div>
        <main class="container productos_tienda ptp-5">
            <!-- Vista producto -->
            <% productos_db.forEach(producto => { %>
                <article class="mb-12 tb-6 lp-4 container producto shadow-drop-2-center">
                    <div class="button--stock"> 
                       <i class="fas fa-check boton_check"></i>
                    </div>
                    <!-- Boton verde de stock -->
                    <div class="concon">
                       <div class="mb-5">
                          <img src="/images/products/Bebidas/Cervezas/<%= producto.images[0] %> " alt="ipa brown" />
                       </div>
           
                       <div class="mb-7 f-main-y">
                          <div>
                             <h4 class="producto__title"><%= producto.name %></h4>
                             <p class="producto__description"><%= producto.description %>
                             </p>
                          </div>
           
                          <div class="producto__buttons">
                             <div class="f-display">
                                <a href="/store/products/<%= producto.id %> ">
                                   <div class="button producto__vermas mr-1">
                                      <i class="fas fa-external-link-alt"></i>
                                   </div>
                                </a>
                             </div>
           
                             <div class="controlador-buton-precio">
                                <div class="precio_store">$ <%= producto.price %></div>
                                <div class="button buton_redondo_suma">
                                   <i class="fas fa-plus"></i>
                                </div>
                             </div>
                          </div>
                       </div>
           
                                   
                    </div>
                    
           
                 </article>
            <% }) %>

        </main>
            <%- include('./partials/footer') %>
            <%- include('partials/scripts.ejs') %>
    </body>

</html>